In [164]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

%matplotlib inline

# Conversion of the columns 

This import has an error so we will wrap it in a Try-Except block first.

In [2]:
data = pd.read_csv('../data/accre-jobs-2020-processed.csv')
display(data.head())

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440

In [3]:
data.iloc[[3460]]

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
3460,17050901_91,winged,lavonda,4096Mn,669.61M,12:00:00,00:06:05,4,1,production,0:0,COMPLETED,"cn[449,463,911,913]"

## Standardize the columns

In [4]:
accre_jobs_2020 = data.rename(columns = str.lower)

In [5]:
accre_jobs_2020.head()

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440

## Converting Job times to total seconds

Job time is in a format of either d-hh:mm:ss or hh:mm:ss, it needs to be converted to total seconds

In [6]:
def convert_time_to_seconds(time_str):
    """Convert the given time string d-hh:mm:ss or hh:mm:ss to total seconds."""
    
    # Account for possible errors
    try:
        
        # Initialize all time components to 0
        days = hours = minutes = seconds = 0

        # Split the time string at the dash mark
        time_dash_split = time_str.split("-") # => Either ["d", "hh:mm:ss"] or ["hh:mm:ss"]

        # Assign each time element to variables
        if len(time_dash_split) > 1: 
            # Remove the first element from the list and convert to integer and add to days
            days += int(time_dash_split.pop(0))

        # If here, len(time_dash_split) == 1
        # Split the time at the colon marks
        time_colon_split = time_dash_split[0].split(":") # => ["hh", "mm", "ss"]
        seconds += int(time_colon_split.pop())
        minutes += int(time_colon_split.pop())
        hours += int(time_colon_split.pop())

        # Now combine everything together
        return (((((days * 24) + hours) * 60) + minutes) * 60) + seconds
        
    except AttributeError as error:
        # Skip everything if the column is already in seconds (assuming one single digit)
        return time_str

Now, we can convert the time columns to seconds

In [7]:

new_reqtime = accre_jobs_2020["reqtime"].map(convert_time_to_seconds)
new_usedtime = accre_jobs_2020["usedtime"].map(convert_time_to_seconds)

accre_jobs_2020 = accre_jobs_2020.assign(reqtime = new_reqtime)
accre_jobs_2020 = accre_jobs_2020.assign(usedtime = new_usedtime)

accre_jobs_2020.head()

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist
0,15925210,treviso,arabella,122880Mn,65973.49M,1188000,1188028,1,24,production,0:0,COMPLETED,cn1531
1,15861126,treviso,arabella,122880Mn,67181.12M,1188000,1090256,1,24,production,0:0,COMPLETED,cn1441
2,15861125,treviso,arabella,122880Mn,69111.86M,1188000,1188020,1,24,production,0:0,COMPLETED,cn1464
3,16251645,treviso,arabella,122880Mn,65317.33M,1188000,1050632,1,24,production,0:0,COMPLETED,cn1473
4,16251646,treviso,arabella,122880Mn,65876.11M,1188000,1188003,1,24,production,0:0,COMPLETED,cn1440

## Split the exitcode in two columns

In [8]:
accre_jobs_2020[["exitcode_user", "exitcode_error"]] = accre_jobs_2020["exitcode"].str.split(":", expand=True)

In [9]:
accre_jobs_2020['exitcode_error'] = accre_jobs_2020['exitcode_error'].astype(int)

In [10]:
accre_jobs_2020['exitcode_user'] = accre_jobs_2020['exitcode_user'].astype(int)

## Converting usedmem to megabyte per core

In [11]:
accre_jobs_2020.usedmem.str[-1].value_counts()

M    3213713
0     602577
Name: usedmem, dtype: int64

In [12]:
#checking at the data with 0 as used memory # can put it in exploratory?
#accre_usedmem_zeros = accre_jobs_2020[accre_jobs_2020['usedmem'] == '0']
#accre_usedmem_zeros.head(3)

In [13]:
accre_jobs_2020['used_mb_per_node'] = accre_jobs_2020['usedmem'].str.strip('M')

In [14]:
accre_jobs_2020['used_mb_per_node'] = accre_jobs_2020['used_mb_per_node'].astype(float)

In [15]:
accre_jobs_2020['used_mb_per_core'] = (accre_jobs_2020['used_mb_per_node'])/(accre_jobs_2020['cpus']*accre_jobs_2020['nodes'])
accre_jobs_2020.head()

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,exitcode_user,exitcode_error,used_mb_per_node,used_mb_per_core
0,15925210,treviso,arabella,122880Mn,65973.49M,1188000,1188028,1,24,production,0:0,COMPLETED,cn1531,0,0,65973.49,2748.895417
1,15861126,treviso,arabella,122880Mn,67181.12M,1188000,1090256,1,24,production,0:0,COMPLETED,cn1441,0,0,67181.12,2799.213333
2,15861125,treviso,arabella,122880Mn,69111.86M,1188000,1188020,1,24,production,0:0,COMPLETED,cn1464,0,0,69111.86,2879.660833
3,16251645,treviso,arabella,122880Mn,65317.33M,1188000,1050632,1,24,production,0:0,COMPLETED,cn1473,0,0,65317.33,2721.555417
4,16251646,treviso,arabella,122880Mn,65876.11M,1188000,1188003,1,24,production,0:0,COMPLETED,cn1440,0,0,65876.11,2744.837917

## Converting request memory to megabyte per core

In [16]:
condition = accre_jobs_2020["reqmem"].str.contains("Mc")

accre_jobs_2020.loc[condition, "reqmem_mc"] = accre_jobs_2020["reqmem"].str[:-2]

In [17]:
condition = accre_jobs_2020["reqmem"].str.contains("Mn")

accre_jobs_2020.loc[condition, "reqmem_mn"] = accre_jobs_2020["reqmem"].str[:-2]

In [18]:
accre_jobs_2020.head()

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,exitcode_user,exitcode_error,used_mb_per_node,used_mb_per_core,reqmem_mc,reqmem_mn
0,15925210,treviso,arabella,122880Mn,65973.49M,1188000,1188028,1,24,production,0:0,COMPLETED,cn1531,0,0,65973.49,2748.895417,NaN,122880
1,15861126,treviso,arabella,122880Mn,67181.12M,1188000,1090256,1,24,production,0:0,COMPLETED,cn1441,0,0,67181.12,2799.213333,NaN,122880
2,15861125,treviso,arabella,122880Mn,69111.86M,1188000,1188020,1,24,production,0:0,COMPLETED,cn1464,0,0,69111.86,2879.660833,NaN,122880
3,16251645,treviso,arabella,122880Mn,65317.33M,1188000,1050632,1,24,production,0:0,COMPLETED,cn1473,0,0,65317.33,2721.555417,NaN,122880
4,16251646,treviso,arabella,122880Mn,65876.11M,1188000,1188003,1,24,production,0:0,COMPLETED,cn1440,0,0,65876.11,2744.837917,NaN,122880

In [19]:
accre_jobs_2020['reqmem_mn'] = accre_jobs_2020['reqmem_mn'].astype(float)
accre_jobs_2020['reqmem_mc'] = accre_jobs_2020['reqmem_mc'].astype(float)

In [20]:
accre_jobs_2020['reqmem_mn_per_core'] = (accre_jobs_2020['reqmem_mn'])/(accre_jobs_2020['cpus']*accre_jobs_2020['nodes'])
accre_jobs_2020.head()

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,exitcode_user,exitcode_error,used_mb_per_node,used_mb_per_core,reqmem_mc,reqmem_mn,reqmem_mn_per_core
0,15925210,treviso,arabella,122880Mn,65973.49M,1188000,1188028,1,24,production,0:0,COMPLETED,cn1531,0,0,65973.49,2748.895417,NaN,122880.0,5120.0
1,15861126,treviso,arabella,122880Mn,67181.12M,1188000,1090256,1,24,production,0:0,COMPLETED,cn1441,0,0,67181.12,2799.213333,NaN,122880.0,5120.0
2,15861125,treviso,arabella,122880Mn,69111.86M,1188000,1188020,1,24,production,0:0,COMPLETED,cn1464,0,0,69111.86,2879.660833,NaN,122880.0,5120.0
3,16251645,treviso,arabella,122880Mn,65317.33M,1188000,1050632,1,24,production,0:0,COMPLETED,cn1473,0,0,65317.33,2721.555417,NaN,122880.0,5120.0
4,16251646,treviso,arabella,122880Mn,65876.11M,1188000,1188003,1,24,production,0:0,COMPLETED,cn1440,0,0,65876.11,2744.837917,NaN,122880.0,5120.0

In [21]:
accre_jobs_2020.loc[accre_jobs_2020['reqmem_mn_per_core'].isnull(),'reqmem_mn_per_core'] = accre_jobs_2020['reqmem_mc']

In [22]:
accre_jobs_2020[accre_jobs_2020['reqmem_mc'].isnull()].head()

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,exitcode_user,exitcode_error,used_mb_per_node,used_mb_per_core,reqmem_mc,reqmem_mn,reqmem_mn_per_core
0,15925210,treviso,arabella,122880Mn,65973.49M,1188000,1188028,1,24,production,0:0,COMPLETED,cn1531,0,0,65973.49,2748.895417,NaN,122880.0,5120.0
1,15861126,treviso,arabella,122880Mn,67181.12M,1188000,1090256,1,24,production,0:0,COMPLETED,cn1441,0,0,67181.12,2799.213333,NaN,122880.0,5120.0
2,15861125,treviso,arabella,122880Mn,69111.86M,1188000,1188020,1,24,production,0:0,COMPLETED,cn1464,0,0,69111.86,2879.660833,NaN,122880.0,5120.0
3,16251645,treviso,arabella,122880Mn,65317.33M,1188000,1050632,1,24,production,0:0,COMPLETED,cn1473,0,0,65317.33,2721.555417,NaN,122880.0,5120.0
4,16251646,treviso,arabella,122880Mn,65876.11M,1188000,1188003,1,24,production,0:0,COMPLETED,cn1440,0,0,65876.11,2744.837917,NaN,122880.0,5120.0

In [23]:
accre_jobs_2020.rename(columns={'reqmem_mn_per_core':'reqmem_per_core'}, inplace=True)

In [24]:
accre_jobs_2020.head()

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,exitcode_user,exitcode_error,used_mb_per_node,used_mb_per_core,reqmem_mc,reqmem_mn,reqmem_per_core
0,15925210,treviso,arabella,122880Mn,65973.49M,1188000,1188028,1,24,production,0:0,COMPLETED,cn1531,0,0,65973.49,2748.895417,NaN,122880.0,5120.0
1,15861126,treviso,arabella,122880Mn,67181.12M,1188000,1090256,1,24,production,0:0,COMPLETED,cn1441,0,0,67181.12,2799.213333,NaN,122880.0,5120.0
2,15861125,treviso,arabella,122880Mn,69111.86M,1188000,1188020,1,24,production,0:0,COMPLETED,cn1464,0,0,69111.86,2879.660833,NaN,122880.0,5120.0
3,16251645,treviso,arabella,122880Mn,65317.33M,1188000,1050632,1,24,production,0:0,COMPLETED,cn1473,0,0,65317.33,2721.555417,NaN,122880.0,5120.0
4,16251646,treviso,arabella,122880Mn,65876.11M,1188000,1188003,1,24,production,0:0,COMPLETED,cn1440,0,0,65876.11,2744.837917,NaN,122880.0,5120.0

## Formating nodelist

Here are the patterns found in nodelist and the conversion we want to happen:

Single Node Cluster

cn456 => cluster_type: "cn", cluster_nodes: "456"
ng1102 => cluster_type: "ng", cluster_nodes: "1102"
gpu0037 => cluster_type: "gpu", cluster_nodes: "0037"
Multi-Nodes Cluster List

cn[345,656,754,565] => cluster_type: "cn", cluster_nodes: "345,656,754,565"
Multi-Nodes Cluster Range

gpu[1367-1370] => cluster_type: "gpu", cluster_nodes: "1367,1368,1369,1370"
Multi-Nodes Cluster List and Range Combo

cn[382-383,394,416,911-913] => cluster_type: "cn", cluster_nodes:"382,383,394,416,911,912,913"
Single Node Patternless

vm-cms-sam-pri => cluster_type: "generic", cluster_nodes: "vm-cms-sam-pri"
eval-dell-01 => cluster_type: "generic", cluster_nodes: "eval-dell-01"
dougherty1 => cluster_type: "generic", cluster_nodes: "dougherty1"

In [25]:
# How to use this function: df["nodelist"].apply(format_nodelist)

def format_nodelist(nodelist):
    """This function takes a list of nodes in any of the pattern format described above and convert it into a tuple in the format (cluster_type, cluster_nodes)
        Both the cluster_type and the cluster_nodes will be strings."""
    
    # We want to return the cluster_type and the cluster_nodes as strings
    cluster_type = "" # e.g. "cn"
    cluster_nodes = "" # e.g. "1308, 134, 545, 546, 547, 548"
    
    # FIRST PART: Handle the cases for:
    #   - Multi-Nodes Cluster List
    #   - Multi-Nodes Cluster Range
    #   - Multi-Nodes Cluster List and Range Combo
    
    # First, remove the "]" and split at the "[" character from the nodelist string
    # If the nodelist string does not contain "[]", this will be ignore and just get the original string
    
    type_and_list = nodelist.strip("]").split("[") # e.g. "cn[1308, 134, 545-548]" => ["cn", "1308, 134, 545-548"]
    
    # If type_and_list has more than one element, we have an actual cluster to process further
    if len(type_and_list) > 1:
        
        # The cluster type is the first element of the list
        cluster_type = type_and_list[0] # "cn"
        
        # The individual nodes can be split on the comma
        nodes = type_and_list[1].split(",") # ["1308", "134", "545-548"]
        
        # The cluster list might need further processing if it has a range
        for nstr in nodes:
            
            # Check if the string contains a dash. If it does, this is a range
            if ("-" in nstr):
                
                # Split on the dash
                range_list = nstr.split("-") # ["545", "548"]
                                
                # Convert the range numbers to int
                start_num = int(range_list[0])
                end_num = int(range_list[1])
                
                # Generate the actual range of numbers
                # The first number is the start of the range, second number is the end of the list INCLUSIVE
                range_list_int = [num for num in range(start_num, end_num+1)] # +1 to account for inclusive
                
                # Now, range_list_int == [545, 546, 547, 548]
                # We need to convert it back to a list of string
                range_list_str = list(map(lambda num: "{}".format(num), range_list_int))
                
                # Now, range_list_int == ["545", "546", "547", "548"]
                # Add each one of them to the cluster node
                for n in range_list_str:
                    
                    # Append to the cluster_nodes string
                    cluster_nodes += "," + n
            
            else: # The string does not have a dash so it is just a single node. e.g. "1308" and "134"
                
                # Append directly to the cluster_nodes. Remove white spaces
                cluster_nodes += "," + nstr.strip()
    
    else: # If here, the type_and_list has only one element string
        
        # SECOND PART: Handle the cases for:
        #   - Single Node Cluster
        
        # Use regular expression to find the node_type (cluster_type) and the node_number (cluster_number)
        # Make sure `re` is imported
        
        single_node_cluster_format = r"^(\w{2,3}?)(\d+)" # for cn124, or gpu5738
        
        # Check if the node match the Single Node Cluster pattern
        if re.match(single_node_cluster_format, type_and_list[0]):
                    
            # Using re.findall() and Splitting text and number in string
            # This split gives us the node_type and the node_number
            cluster_type, cluster_nodes = re.findall(single_node_cluster_format, type_and_list[0])[0]
        
        else:
            # If we don't get a match, it means it is a Single Node Patternless
            # THIRD PART: Handle the cases for:
            #   - Single Node Patternless
            
            cluster_type = "generic"
            cluster_nodes = type_and_list[0]
    
    # Trim cluster_nodes of any extra commas
    cluster_nodes = cluster_nodes.strip(",")
    
    # Finally, return the cluster_type and the cluster_nodes a a tuple
    return (cluster_type, cluster_nodes)

In [26]:
# Testing: Multi-nodes
original_1 = "cn[1308, 134, 545-548]"

# Testing: Single Node Cluster
original_2 = "cn1308"
original_3 = "gpu567"
original_4 = "ng1102"

# Testing: Single Node Patternless
original_5 = "vm-cms-sam-pri"
original_6 = "eval-dell-01"
original_7 = "dougherty1"

print(format_nodelist(original_1))
print(format_nodelist(original_2))
print(format_nodelist(original_3))
print(format_nodelist(original_4))
print(format_nodelist(original_5))
print(format_nodelist(original_6))
print(format_nodelist(original_7))

('cn', '1308,134,545,546,547,548')
('cn', '1308')
('gpu', '567')
('ng', '1102')
('generic', 'vm-cms-sam-pri')
('generic', 'eval-dell-01')
('generic', 'dougherty1')

In [27]:
# Add a column cluster_type_and_nodes
# This will contain the tuple from format_nodelist
accre_jobs_2020 = accre_jobs_2020.assign(cluster_type_and_nodes = accre_jobs_2020['nodelist'].apply(format_nodelist))
accre_jobs_2020.head()

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,...,state,nodelist,exitcode_user,exitcode_error,used_mb_per_node,used_mb_per_core,reqmem_mc,reqmem_mn,reqmem_per_core,cluster_type_and_nodes
0,15925210,treviso,arabella,122880Mn,65973.49M,1188000,1188028,1,24,production,...,COMPLETED,cn1531,0,0,65973.49,2748.895417,NaN,122880.0,5120.0,"(cn, 1531)"
1,15861126,treviso,arabella,122880Mn,67181.12M,1188000,1090256,1,24,production,...,COMPLETED,cn1441,0,0,67181.12,2799.213333,NaN,122880.0,5120.0,"(cn, 1441)"
2,15861125,treviso,arabella,122880Mn,69111.86M,1188000,1188020,1,24,production,...,COMPLETED,cn1464,0,0,69111.86,2879.660833,NaN,122880.0,5120.0,"(cn, 1464)"
3,16251645,treviso,arabella,122880Mn,65317.33M,1188000,1050632,1,24,production,...,COMPLETED,cn1473,0,0,65317.33,2721.555417,NaN,122880.0,5120.0,"(cn, 1473)"
4,16251646,treviso,arabella,122880Mn,65876.11M,1188000,1188003,1,24,production,...,COMPLETED,cn1440,0,0,65876.11,2744.837917,NaN,122880.0,5120.0,"(cn, 1440)"

In [28]:
# Finally, Split the cluster_type_and_nodes column into 2 separate columns
accre_jobs_2020[['cluster_type', 'cluster_nodes']] = pd.DataFrame(accre_jobs_2020['cluster_type_and_nodes'].tolist(), index=accre_jobs_2020.index) 
accre_jobs_2020

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,...,exitcode_user,exitcode_error,used_mb_per_node,used_mb_per_core,reqmem_mc,reqmem_mn,reqmem_per_core,cluster_type_and_nodes,cluster_type,cluster_nodes
0,15925210,treviso,arabella,122880Mn,65973.49M,1188000,1188028,1,24,production,...,0,0,65973.49,2748.895417,NaN,122880.0,5120.000000,"(cn, 1531)",cn,1531
1,15861126,treviso,arabella,122880Mn,67181.12M,1188000,1090256,1,24,production,...,0,0,67181.12,2799.213333,NaN,122880.0,5120.000000,"(cn, 1441)",cn,1441
2,15861125,treviso,arabella,122880Mn,69111.86M,1188000,1188020,1,24,production,...,0,0,69111.86,2879.660833,NaN,122880.0,5120.000000,"(cn, 1464)",cn,1464
3,16251645,treviso,arabella,122880Mn,65317.33M,1188000,1050632,1,24,production,...,0,0,65317.33,2721.555417,NaN,122880.0,5120.000000,"(cn, 1473)",cn,1473
4,16251646,treviso,arabella,122880Mn,65876.11M,1188000,1188003,1,24,production,...,0,0,65876.11,2744.837917,NaN,122880.0,5120.000000,"(cn, 1440)",cn,1440
5,16297022,treviso,arabella,122880Mn,65183.02M,1188000,1045903,1,24,production,...,0,0,65183.02,2715.959167,NaN,122880.0,5120.000000,"(cn, 1443)",cn,1443
6,16297024,treviso,arabella,122880Mn,64941.85M,1188000,1148099,1,24,production,...,0,0,64941.85,2705.910417,NaN,122880.0,5120.000000,"(cn, 1531)",cn,1531
7,16316283,treviso,arabella,122880Mn,68499.51M,1188000,1188005,1,24,production,...,0,0,68499.51,2854.146250,NaN,122880.0,5120.000000,"(cn, 1535)",cn,1535
8,16316284,treviso,arabella,122880Mn,67761.41M,1188000,1188015,1,24,production,...,0,0,67761.41,2823.392083,NaN,122880.0,5120.000000,"(cn, 1464)",cn,1464
9,16316324,treviso,arabella,122880Mn,68087.66M,1188000,1188006,1,24,production,...,0,0,68087.66,2836.985833,NaN,122880.0,5120.000000,"(cn, 1473)",cn,1473
10,16316325,treviso,arabella,122880Mn,68113.75M,1188000,1188014,1,24,production,...,0,0,68113.75,2838.072917,NaN,122880.0,5120.000000,"(cn, 1536)",cn,1536
11,16324564,treviso,arabella,122880Mn,67732.33M,1188000,1098179,1,24,production,...,0,0,67732.33,2822.180417,NaN,122880.0,5120.000000,"(cn, 1445)",cn,1445
12,16324565,treviso,arabella,122880Mn,67294.18M,1188000,1132453,1,24,production,...,0,0,67294.18,2803.924167,NaN,122880.0,5120.000000,"(cn, 1470)",cn,1470
13,16338512,treviso,arabella,122880Mn,67815.17M,1188000,1522543,1,24,production,...,0,0,67815.17,2825.632083,NaN,122880.0,5120.000000,"(cn, 1439)",cn,1439
14,16338513,treviso,arabella,122880Mn,67156.55M,1188000,1188024,1,24,production,...,0,0,67156.55,2798.189583,NaN,122880.0,5120.000000,"(cn, 1435)",cn,1435
15,16355590,treviso,arabella,122880Mn,69549.25M,1188000,1188000,1,24,production,...,0,0,69549.25,2897.885417,NaN,122880.0,5120.000000,"(cn, 1535)",cn,1535
16,16355591,treviso,arabella,122880Mn,69557.56M,1188000,1188026,1,24,production,...,0,0,69557.56,2898.231667,NaN,122880.0,5120.000000,"(cn, 1533)",cn,1533
17,16355592,treviso,arabella,122880Mn,69400.51M,1188000,1188022,1,24,production,...,0,0,69400.51,2891.687917,NaN,122880.0,5120.000000,"(cn, 1446)",cn,1446
18,16355593,treviso,arabella,122880Mn,65773.31M,1188000,1188004,1,24,production,...,0,0,65773.31,2740.554583,NaN,122880.0,5120.000000,"(cn, 1447)",cn,1447
19,16368748,treviso,arabella,122880Mn,66081.39M,1188000,1188014,1,24,production,...,0,0,66081.39,2753.391250,NaN,122880.0,5120.000000,"(cn, 1470)",cn,1470
20,16368749,treviso,arabella,122880Mn,67882.97M,1188000,1188003,1,24,production,...,0,0,67882.97,2828.457083,NaN,122880.0,5120.000000,"(cn, 1534)",cn,1534
21,16368750,treviso,arabella,122880Mn,116156.53M,1188000,1155169,1,24,production,...,0,0,116156.53,4839.855417,NaN,122880.0,5120.000000,"(cn, 1532)",cn,1532
22,16387008,treviso,arabella,122880Mn,66231.43M,1188000,1188017,1,24,production,...,0,0,66231.43,2759.642917,NaN,122880.0,5120.000000,"(cn, 1459)",cn,1459
23,16407707,treviso,arabella,122880Mn,65649.79M,1188000,1188026,1,24,production,...,0,0,65649.79,2735.407917,NaN,122880.0,5120.000000,"(cn, 1458)",cn,1458
24,16601402,mickey,dequan,126976Mn,33829.39M,1800000,1800022,1,24,cgw-dougherty1,...,0,0,33829.39,1409.557917,NaN,126976.0,5290.666667,"(generic, dougherty1)",generic,dougherty1
25,16724750,fava,jimena,102400Mn,70400.58M,1080000,1080025,1,1,cgw-capra1,...,0,0,70400.58,70400.580000,NaN,102400.0,102400.000000,"(generic, capra1)",generic,capra1
26,16793811_0,delblush,gregoria,65536Mn,30894.00M,1036800,1036806,1,16,production,...,0,0,30894.00,1930.875000,NaN,65536.0,4096.000000,"(cn, 1431)",cn,1431
27,16793811_1,delblush,gregoria,65536Mn,1601.95M,1036800,1036806,1,16,production,...,0,0,1601.95,100.121875,NaN,65536.0,4096.000000,"(cn, 1445)",cn,1445
28,16793811_2,delblush,gregoria,65536Mn,1489.33M,1036800,1036806,1,16,production,...,0,0,1489.33,93.083125,NaN,65536.0,4096.000000,"(cn, 1460)",cn,1460
29,16793811_3,delblush,gregoria,65536Mn,1555.11M,1036800,1036806,1,16,production,...,0,0,1555.11,97.194375,NaN,65536.0,4096.000000,"(cn, 1449)",cn,1449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3816260,24173800_5,portabella,vennie,16384Mn,0,86400,37,1,1,production,...,0,0,0.00,0.000000,NaN,16384.0,16384.000000,"(cn, 1135)",cn,1135
3816261,24173800_6,portabella,vennie,16384Mn,0,86400,37,1,1,production,...,0,0,0.00,0.000000,NaN,16384.0,16384.000000,"(cn, 1131)",cn,1131
3816262,24173800_7,portabella,vennie,16384Mn,15053.05M,86400,43,1,1,production,...,0,0,15053.05,15053.050000,NaN,16384.0,16384.000000,"(cn, 313)",cn,313
3816263,24173800_8,portabella,vennie,16384Mn,11825.79M,86400,45,1,1,production,...,0,0,11825.79,11825.790000,NaN,16384.0,16384.000000,"(cn, 328)",cn,328
3816264,24173800_9,portabella,vennie,16384Mn,13942.65M,86400,53,1,1,production,...,0,0,13942.65,13942.650000,NaN,16384.0,16384.000000,"(cn, 330)",cn,330
3816265,24173800_10,portabella,vennie,16384Mn,9642.90M,86400,60,1,1,production,...,0,0,9642.90,9642.900000,NaN,16384.0,16384.000000,"(cn, 359)",cn,359
3816266,24173801,cms,uscmslocal,5000Mn,0,172800,245,1,1,production,...,0,0,0.00,0.000000,NaN,5000.0,5000.000000,"(cn, 1121)",cn,1121
3816267,24173802,cms,uscmslocal,5000Mn,0,172800,245,1,1,production,...,0,0,0.00,0.000000,NaN,5000.0,5000.000000,"(cn, 376)",cn,376
3816268,24173803,cms,uscmslocal,5000Mn,0,172800,245,1,1,production,...,0,0,0.00,0.000000,NaN,5000.0,5000.000000,"(cn, 380)",cn,380
3816269,24173804,cms,uscmslocal,5000Mn,0,172800,245,1,1,production,...,0,0,0.00,0.000000,NaN,5000.0,5000.000000,"(cn, 385)",cn,385
3816270,24173805,cms,uscmslocal,5000Mn,0,172800,244,1,1,production,...,0,0,0.00,0.000000,NaN,5000.0,5000.000000,"(cn, 401)",cn,401
3816271,24173806,cms,uscmslocal,28000Mn,0,172800,245,1,4,production,...,0,0,0.00,0.000000,NaN,28000.0,7000.000000,"(cn, 464)",cn,464
3816272,24173807,cms,uscmslocal,28000Mn,0,172800,245,1,4,production,...,0,0,0.00,0.000000,NaN,28000.0,7000.000000,"(cn, 1358)",cn,1358
3816273,24173808,cms,uscmslocal,5000Mn,0,172800,244,1,1,production,...,0,0,0.00,0.000000,NaN,5000.0,5000.000000,"(cn, 404)",cn,404
3816274,24173809,cms,uscmslocal,28000Mn,0,172800,245,1,4,production,...,0,0,0.00,0.000000,NaN,28000.0,7000.000000,"(cn, 1378)",cn,1378
3816275,24173810,cms,uscmslocal,5000Mn,0,172800,244,1,1,production,...,0,0,0.00,0.000000,NaN,5000.0,5000.000000,"(cn, 407)",cn,407
3816276,24173811,cms,uscmslocal,28000Mn,0,172800,245,1,4,production,...,0,0,0.00,0.000000,NaN,28000.0,7000.000000,"(cn, 1507)",cn,1507
3816277,24173812,cms,uscmslocal,186648Mn,0,172800,267,1,32,nogpfs,...,0,0,0.00,0.000000,NaN,186648.0,5832.750000,"(cn, 1557)",cn,1557
3816278,24173815_1,portabella,vennie,32768Mn,31069.33M,86400,112,1,2,production,...,0,0,31069.33,15534.665000,NaN,32768.0,16384.000000,"(cn, 306)",cn,306
3816279,24173815_2,portabella,vennie,32768Mn,21190.97M,86400,97,1,2,production,...,0,0,21190.97,10595.485000,NaN,32768.0,16384.000000,"(cn, 487)",cn,487
3816280,24173815_3,portabella,vennie,32768Mn,28492.25M,86400,107,1,2,production,...,0,0,28492.25,14246.125000,NaN,32768.0,16384.000000,"(cn, 407)",cn,407
3816281,24173815_4,portabella,vennie,32768Mn,21281.77M,86400,97,1,2,production,...,0,0,21281.77,10640.885000,NaN,32768.0,16384.000000,"(cn, 417)",cn,417
3816282,24173815_5,portabella,vennie,32768Mn,25369.51M,86400,90,1,2,production,...,0,0,25369.51,12684.755000,NaN,32768.0,16384.000000,"(cn, 429)",cn,429
3816283,24173815_6,portabella,vennie,32768Mn,23269.08M,86400,96,1,2,production,...,0,0,23269.08,11634.540000,NaN,32768.0,16384.000000,"(cn, 432)",cn,432
3816284,24173815_7,portabella,vennie,32768Mn,20879.81M,86400,97,1,2,production,...,0,0,20879.81,10439.905000,NaN,32768.0,16384.000000,"(cn, 440)",cn,440
3816285,24173815_8,portabella,vennie,32768Mn,30042.68M,86400,147,1,2,production,...,0,0,30042.68,15021.340000,NaN,32768.0,16384.000000,"(cn, 312)",cn,312
3816286,24173815_9,portabella,vennie,32768Mn,31067.75M,86400,147,1,2,production,...,0,0,31067.75,15533.875000,NaN,32768.0,16384.000000,"(cn, 312)",cn,312
3816287,24173815_10,portabella,vennie,32768Mn,21207.96M,86400,100,1,2,production,...,0,0,21207.96,10603.980000,NaN,32768.0,16384.000000,"(cn, 368)",cn,368
3816288,24173817,boysenberries,hortensia,100000Mn,0,86400,185,1,8,production,...,0,0,0.00,0.000000,NaN,100000.0,12500.000000,"(cn, 1509)",cn,1509
3816289,24173866,horseradish,ariane,20480Mn,0,18000,125,1,1,production,...,0,0,0.00,0.000000,NaN,20480.0,20480.000000,"(cn, 1131)",cn,1131

In [29]:
# Checking rows with nodes > 150
accre_jobs_2020[accre_jobs_2020["nodes"] > 150]

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,...,exitcode_user,exitcode_error,used_mb_per_node,used_mb_per_core,reqmem_mc,reqmem_mn,reqmem_per_core,cluster_type_and_nodes,cluster_type,cluster_nodes
2781194,22266623,crowns,wilhelmina,5120Mc,54.75M,345600,78,156,1,production,...,0,0,54.75,0.350962,5120.0,NaN,5120.000,"(cn, 313,324,331,332,334,335,336,354,361,365,3...",cn,"313,324,331,332,334,335,336,354,361,365,372,37..."
2781539,22272025,crowns,wilhelmina,5120Mc,9910.64M,345600,114568,163,1,production,...,1,0,9910.64,60.801472,5120.0,NaN,5120.000,"(cn, 305,313,324,331,332,334,335,336,337,354,3...",cn,"305,313,324,331,332,334,335,336,337,354,361,36..."
3311027,23335998,grisette,acy,12288Mn,2.70M,3000,533,200,2,production,...,0,15,2.70,0.006750,NaN,12288.0,30.720,"(cn, 304,315,316,317,318,319,320,322,323,324,3...",cn,"304,315,316,317,318,319,320,322,323,324,326,32..."
3329704,23352111,grisette,acy,12288Mn,0.46M,3000,3,200,2,production,...,0,0,0.46,0.001150,NaN,12288.0,30.720,"(cn, 315,316,317,318,319,320,322,323,324,326,3...",cn,"315,316,317,318,319,320,322,323,324,326,327,32..."
3343504,23375092,grisette,acy,12288Mn,2.83M,3000,31,400,2,production,...,0,0,2.83,0.003538,NaN,12288.0,15.360,"(cn, 301,302,303,305,306,307,308,309,311,312,3...",cn,"301,302,303,305,306,307,308,309,311,312,313,31..."
3343506,23375094,grisette,acy,12288Mn,0.62M,3000,24,500,2,production,...,0,0,0.62,0.000620,NaN,12288.0,12.288,"(cn, 301,302,303,305,306,307,308,309,311,312,3...",cn,"301,302,303,305,306,307,308,309,311,312,313,31..."

In [30]:
# List of nodes for jobid == 22272025
accre_jobs_2020[accre_jobs_2020["jobid"] == "22272025"]["cluster_nodes"].values

array(['305,313,324,331,332,334,335,336,337,354,361,365,372,373,374,382,386,404,408,437,438,445,447,472,497,911,912,1085,1086,1088,1090,1092,1094,1095,1096,1121,1122,1123,1126,1127,1128,1129,1132,1201,1202,1203,1207,1208,1212,1213,1214,1215,1216,1221,1223,1224,1228,1241,1258,1260,1261,1262,1263,1269,1270,1278,1279,1281,1285,1286,1287,1291,1292,1299,1305,1306,1307,1308,1310,1313,1319,1321,1323,1325,1331,1332,1335,1336,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1349,1350,1351,1352,1353,1354,1358,1359,1364,1367,1368,1369,1370,1376,1377,1380,1384,1385,1386,1387,1388,1389,1391,1392,1394,1395,1396,1397,1398,1420,1421,1423,1424,1425,1426,1427,1432,1433,1434,1435,1436,1437,1438,1442,1443,1451,1452,1472,1492,1494,1495,1497,1498,1499,1504,1506,1508,1516,1521,1524,1530,1531,1534,1535,1536'],
      dtype=object)

In [31]:
# Checking rows with cluster_Type == 'generic'
accre_jobs_2020[accre_jobs_2020["cluster_type"] == "generic"]["cluster_nodes"].value_counts()

vm-cms-sam-pri      45761
vm-cms-sam-sec      33390
eval-dell-01          381
capra1                 83
dougherty1             72
vm-qa-flatearth1        4
rocksteady              2
Name: cluster_nodes, dtype: int64

In [210]:
accre_jobs_2020_with_cpus_0 = accre_jobs_2020[accre_jobs_2020["cpus"] == 0]

In [211]:
accre_jobs_2020 = accre_jobs_2020[accre_jobs_2020["cpus"] != 0]

# Cleaning the useless information

In [212]:
accre_jobs_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3813160 entries, 0 to 3816287
Data columns (total 15 columns):
jobid               object
account             object
user                object
reqtime             int64
usedtime            int64
nodes               int64
cpus                int64
partition           object
state               object
exitcode_user       int64
exitcode_error      int64
used_mb_per_core    float64
reqmem_per_core     float64
cluster_type        object
cluster_nodes       object
dtypes: float64(2), int64(6), object(7)
memory usage: 465.5+ MB

In [213]:
#remove non-informative columns. eg. df.drop(['column'], axis=1)
accre_jobs_2020 = accre_jobs_2020.drop(["reqmem","usedmem","exitcode","nodelist","used_mb_per_node","reqmem_mc","reqmem_mn","cluster_type_and_nodes"], axis=1)
accre_jobs_2020.head()

KeyError: "['reqmem' 'usedmem' 'exitcode' 'nodelist' 'used_mb_per_node' 'reqmem_mc'\n 'reqmem_mn' 'cluster_type_and_nodes'] not found in axis"

In [214]:
accre_jobs_2020.shape

(3813160, 15)

In [56]:
# remove running jobs
accre_jobs_2020 = accre_jobs_2020_clean1[accre_jobs_2020_clean1['state'] != 'RUNNING']

In [57]:
accre_jobs_2020.shape

(3813182, 15)

In [215]:
accre_jobs_2020.head()

,jobid,account,user,reqtime,usedtime,nodes,cpus,partition,state,exitcode_user,exitcode_error,used_mb_per_core,reqmem_per_core,cluster_type,cluster_nodes
0,15925210,treviso,arabella,1188000,1188028,1,24,production,COMPLETED,0,0,2748.895417,5120.0,cn,1531
1,15861126,treviso,arabella,1188000,1090256,1,24,production,COMPLETED,0,0,2799.213333,5120.0,cn,1441
2,15861125,treviso,arabella,1188000,1188020,1,24,production,COMPLETED,0,0,2879.660833,5120.0,cn,1464
3,16251645,treviso,arabella,1188000,1050632,1,24,production,COMPLETED,0,0,2721.555417,5120.0,cn,1473
4,16251646,treviso,arabella,1188000,1188003,1,24,production,COMPLETED,0,0,2744.837917,5120.0,cn,1440

In [218]:
accre_jobs_2020.to_csv('../data/accre_jobs_2020_cleaned.csv', index = False)

# Exploring the dataframe

## column partition

In [163]:
accre_jobs_2020['partition'].value_counts()

production              3308929
nogpfs                   327440
sam                       79151
pascal                    48000
turing                    39377
debug                      6738
maxwell                    3347
cgw-capra1                   83
cgw-dougherty1               70
cgw-cqs1                     34
cgw-vm-qa-flatearth1          4
cgw-cqs3                      4
cgw-tbi01                     2
devel                         2
cgw-rocksteady                1
Name: partition, dtype: int64

## Exit code error

In [ ]:
#accre_jobs_2020(accre_jobs_2020['exitcode_error'] != 0)