In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm

%matplotlib inline

# For preprocessing
import csv
from os import path
from pathlib import Path

# Set the project root folder
root_dir = Path().absolute()

In [2]:
try:
    data = pd.read_csv('../data/accre-jobs-2020.csv')
except Exception as error:
    print(error)

Error tokenizing data. C error: Expected 13 fields in line 3461, saw 15

In [3]:
try:
    # The data might have already been pre-processed previoulsy
    # If not, this line would generate a “No such file” error so we would fallback to the exception below
    data = pd.read_csv('../data/accre-jobs-2020-processed.csv')
    print('Reading from previously processed file...')
    display(data.head())
except FileNotFoundError:
    print('Preprocessed file not found. Creating a new one. Please wait...')
    # Open 2 files: One is the source and one is the destination
    with open(path.join(root_dir, '..', 'data', 'accre-jobs-2020.csv'), mode='r') as source,\
    open(path.join(root_dir, '..', 'data', 'accre-jobs-2020-processed.csv'), mode='w', newline='') as destination:
        # Set file reader and file writer on the source and destination
        reader = csv.reader(source)
        writer = csv.writer(destination)
        # Go through each line in the source
        for line in reader:
            # Create a new matching line with the last column within quotes
            # This will make it into a single column if there are more commas
            newline = line[:12] + [','.join(line[12:])]
            # Write to the destination file
            writer.writerow(newline)
    # Try importing as normal again on the newly created destination file
    data = pd.read_csv('../data/accre-jobs-2020-processed.csv')
    display(data.head())
except Error as error:
    print('Something went wrong:', error)

Reading from previously processed file...

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440

In [4]:
accre_jobs_2020 = pd.read_csv('../data/accre-jobs-2020-processed.csv').rename(columns = str.lower)
accre_jobs_2020 = accre_jobs_2020[accre_jobs_2020.state.str.contains('RUNNING') == False]

In [5]:
accre_jobs_2020.head()

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440

accre_jobs_2020 = pd.read_csv('../data/accre-jobs-2020.csv', error_bad_lines = False)

accre_jobs_2020 = pd.read_csv('../data/accre-jobs-2020.csv', nrows = 3459)

line 612270: expected 13 fields, saw 100\nSkipping line 612271

accre_jobs_2020 = pd.read_csv('../data/accre-jobs-2020.csv', usecols = [0,1,2,3,4,5,6,7,8,9,10,11,12]).rename(columns = str.lower)

In [6]:
accre_jobs_2020

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3816283,24173815_6,portabella,vennie,32768Mn,23269.08M,1-00:00:00,00:01:36,1,2,production,0:0,COMPLETED,cn432
3816284,24173815_7,portabella,vennie,32768Mn,20879.81M,1-00:00:00,00:01:37,1,2,production,0:0,COMPLETED,cn440
3816285,24173815_8,portabella,vennie,32768Mn,30042.68M,1-00:00:00,00:02:27,1,2,production,0:0,COMPLETED,cn312
3816286,24173815_9,portabella,vennie,32768Mn,31067.75M,1-00:00:00,00:02:27,1,2,production,0:0,COMPLETED,cn312
3816287,24173815_10,portabella,vennie,32768Mn,21207.96M,1-00:00:00,00:01:40,1,2,production,0:0,COMPLETED,cn368

In [7]:
accre_jobs_2020['account'].nunique()

175

In [8]:
accre_jobs_2020['account'].value_counts()

cms          806456
cep          609282
summer       380840
galia        198036
carrot       192551
              ...
president         1
hass              1
flamingo          1
tree              1
golden            1
Name: account, Length: 175, dtype: int64

In [9]:
accre_jobs_2020['nodes'].value_counts()

1      3807797
2         2540
3          885
4          604
5          417
        ...
39           1
38           1
37           1
109          1
500          1
Name: nodes, Length: 83, dtype: int64

In [10]:
accre_jobs_2020[accre_jobs_2020.account.str.contains('cms')]

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist
2125,17032244,cms,cmspilot,28000Mn,8320.07M,2-00:00:00,1-23:31:46,1,4,production,0:0,COMPLETED,cn1205
2126,17032568,cms,cmspilot,28000Mn,11954.84M,2-00:00:00,1-23:33:13,1,4,production,0:0,COMPLETED,cn1492
2127,17032569,cms,cmspilot,28000Mn,10498.84M,2-00:00:00,1-23:36:36,1,4,production,0:0,COMPLETED,cn1497
2128,17032916,cms,cmspilot,21875Mn,11728.02M,2-00:00:00,1-23:27:55,1,8,nogpfs,0:0,COMPLETED,ng1037
2129,17032920,cms,cmspilot,94451Mn,20659.08M,2-00:00:00,1-23:16:04,1,8,nogpfs,0:0,COMPLETED,ng691
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3816215,24173661,cmsadmin,autocms,4096Mc,860.03M,12:00:00,00:03:50,1,1,production,0:0,COMPLETED,cn394
3816221,24173686,cmsadmin,lcgadmin,2000Mn,0.09M,2-00:00:00,00:02:29,1,1,sam,0:0,COMPLETED,vm-cms-sam-pri
3816233,24173689,cmsadmin,lcgadmin,2000Mn,0.09M,2-00:00:00,00:02:11,1,1,sam,0:0,COMPLETED,vm-cms-sam-sec
3816240,24173711,cmsadmin,lcgadmin,2000Mn,0.09M,2-00:00:00,00:01:29,1,1,sam,0:0,COMPLETED,vm-cms-sam-pri
3816241,24173712,cmsadmin,lcgadmin,2000Mn,0.09M,2-00:00:00,00:02:29,1,1,sam,0:0,COMPLETED,vm-cms-sam-sec

In [11]:
cms_jobs = accre_jobs_2020[accre_jobs_2020.account.str.contains('cms')]

In [12]:
cms_jobs['account'].value_counts()

cms            806456
cms_lowprio    135682
cmsadmin       102589
cms_gpu_acc      1196
Name: account, dtype: int64

In [13]:
cms_jobs.shape

(1045923, 13)

In [14]:
cms_jobs['nodes'].value_counts()

1    1045922
5          1
Name: nodes, dtype: int64

In [15]:
cms_Mc = cms_jobs[cms_jobs.reqmem.str.contains('Mc')]
cms_Mc

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist
7865,17092491,cmsadmin,autocms,2048Mc,819.12M,12:00:00,04:00:11,1,1,production,0:0,COMPLETED,cn1134
8186,17094019,cmsadmin,autocms,2048Mc,789.33M,12:00:00,00:08:01,1,1,production,0:0,COMPLETED,cn1088
8225,17094164,cmsadmin,autocms,2048Mc,805.13M,12:00:00,00:06:19,1,1,production,0:0,COMPLETED,cn913
8251,17094286,cmsadmin,autocms,2048Mc,863.34M,12:00:00,00:03:24,1,1,production,0:0,COMPLETED,cn1081
8327,17094473,cmsadmin,autocms,2048Mc,870.35M,12:00:00,00:04:48,1,1,production,0:0,COMPLETED,cn1278
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3816072,24173338,cmsadmin,autocms,4096Mc,872.41M,12:00:00,00:04:17,1,1,production,0:0,COMPLETED,cn394
3816132,24173475,cms,lailah,1024Mc,62.46M,1-20:00:00,00:00:47,1,1,production,0:0,COMPLETED,cn394
3816144,24173491,cmsadmin,autocms,4096Mc,869.54M,12:00:00,00:04:19,1,1,production,0:0,COMPLETED,cn421
3816175,24173567,cms,lailah,1024Mc,1014.77M,1-20:00:00,00:05:20,1,1,production,0:0,COMPLETED,cn394
3816215,24173661,cmsadmin,autocms,4096Mc,860.03M,12:00:00,00:03:50,1,1,production,0:0,COMPLETED,cn394